.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.layout-body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.custom-header .modal-title {
  margin: 0;
  text-align: right;
  flex-grow: 1;
}

.custom-header .btn-close {
  position: absolute;
  left: 1rem;  /* מעביר את ה־X לצד שמאל */
  right: auto;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
  background: #fff;
}
.error{
  color: red;
}